
body {
    background-color: #EAF6F6;
}
hr{
    border: none;
    border-top: 3px dotted #333;
    color: #333;
    width: 3%;
    border-color: grey;
    border-width: 5px;


}
h1{
    color: #66BFBF;
}
h3{
    color:#0061a8;
}
img{
    border-radius: 100px;

}

table {
    font-family:Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, tr {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: antiquewhite;

}
